*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p {
    /* border: 1px solid black; */
    border-radius: 5px;
    background-color: aqua;
    color: blueviolet;
    /* height: 200px; */
    max-width: 992px;
    text-align: center;
     padding: 100px;
     font-size: 40px;
     margin: 20px;
}
header nav{
    background-color: #000000;
     
}
header nav ul{
    display: flex;  

}
header nav ul li{
    list-style-type: none;
    font-size: 24px;
    padding: 10px;
    float: left;


}
header nav ul a{
    text-decoration: none;
    color: #fff;
    

}
table{
    border: 1px solid #000000;
}
tr th{ 
    border: 1px solid #000000;

}